laskarit/viikko2/.pytest_cache/
laskarit/viikko2/__MACOSX/
laskarit/viikko2/maksukortti/.pytest_cache/
laskarit/viikko2/maksukortti/src/.pytest_cache/
laskarit/viikko2/unicafe/.pytest_cache/
laskarit/viikko2/unicafe/src/__pycache__/
laskarit/viikko2/unicafe/src/tests/__pycache__/
laskarit/viikko2/unicafe/.coverage
laskarit/viikko2/unicafe/htmlcov/
puutarhasovellus/src/ui/__pycache__/
puutarhasovellus/src/__pycache__/
puutarhasovellus/data/db.sqlite
puutarhasovellus/src/entities/__pycache__/
puutarhasovellus/src/repositories/__pycache__/
puutarhasovellus/src/services/__pycache__/
puutarhasovellus/src/tests/__pycache__/
puutarhasovellus/.coverage
puutarhasovellus/htmlcov/
puutarhasovellus/.pytest_cache
puutarhasovellus/src/tests.py
puutarhasovellus/src/functions/__pycache__/
